to: receiver@example.com
error_to: admin@example.com
exception_notifier:
  subject_label: "[git-utils]"
sender: sender@example.com
owners:
  ranguba:
    to: groonga-commit@rubyforge.org
    repositories:
      examples:
        to: null@example.com
  groonga:
    to: groonga-commit@lists.sourceforge.jp
