private_token: VERYSECRETTOKEN
gitlab_api_end_point: https://gitlab.example.com/api/v3
web_hooks:
  - http://gh.example.com/post-receiver1
  - http://gh.example.com/post-receiver2
  - http://gh.example.com/post-receiver3
to: receiver@example.com
error_to: admin@example.com
exception_notifier:
  subject_label: "[git-utils]"
sender: sender@example.com
add_html: true
owners:
  ranguba:
    to: groonga-commit@rubyforge.org
    repositories:
      examples:
        to: null@example.com
  groonga:
    to: groonga-commit@lists.sourceforge.jp
